$prigreen : rgb(137, 238, 137);
$priblue : rgb(95, 199, 224);
$highblue : rgb(42, 71, 134);

@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  background: $priblue;
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
  font-size: 3em;
}

.input{
  height: 20vh;
  @include flex;
  background: $priblue;
  .input-submit{
    font-size: 1.5em;
    height: 50px;
    width: 60px;
    border: 1px solid;
    border-color: $highblue;
    border-radius: 100%;
    background-color:$highblue;
    color: white;

    &:hover{
      transform: scale(105%);
    }
  }
  input{
    font-size: large;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: $priblue;
    padding: 10px;
    margin: 30px;
    transition: all .2s ease;
    &::placeholder{
      color: black;
      font-size: larger;
      font-weight: 400;
    }
    &:focus{
      border-bottom: 2px solid;
      &::placeholder{
        visibility: hidden;
      }
    } 
  }
}

.todo-cont{
  color: white;
  @include flex;
  .todos-single{
    border: 4px solid $priblue;
    border-radius: 40%;
    display: flex;
    justify-content: space-around;
    height: 40px;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 20px;
    background-color: $highblue;
    input{
      min-width:80px;
      height: 25px;
      border: none;
      outline: none;
      -webkit-appearance: none;
      background: $highblue;
      color: rgb(186, 231, 135);
      font-size: medium;
      padding-left: 25px;
    }
    span{
      padding-left: 15px;
    }
  }
}

